/* The navigation bar */
.navbar {
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 9999;
    border-bottom: 2px solid black;
    height: 50px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.searchbar {
    padding-top: 12px;
}
.prfpic {
    height: 35px;
    width: 35px;
}

#navstamp {
    position: absolute;
    left: 50%;
    display: block;
}

#navstamp img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid black;
    margin-left: -65px !important;  /* This value must be the same as the logo width */
}

#navstamp img:hover {
    transform: scale(1.05);
}