<!-- Slider main container -->
<div class="swiper-container main-slider" id="myCarousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" style="background:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/cyberspace-coding-background_rpqqnrev__F0000.png')">
      <h2>Developers Club</h2>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 25px;">
  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let project of projects">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">{{project.name}}</h4>
          <p class="card-text">{{project.description}}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Apply Now!</a>
        </div>
      </div>
    </div>
<!--
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">C# Discord Bot</h4>
          <p class="card-text">Creating a fully customizable c# bot for discord</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Apply Now!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Free Photoshop alternative</h4>
          <p class="card-text">Developing a free open-source alternative to photoshop</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Apply Now!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Creating a new better CryptoCurrency</h4>
          <p class="card-text">Apply to become "Rich"</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Apply Now!</a>
        </div>
      </div>
    </div>

  </div>
-->
  <!-- /.row -->

</div>

<section class="about-sec parallax-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2><small>What We Are</small>About<br></h2>
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis sapiente, sit excepturi nulla perferendis natus, ducimus repudiandae ea impedit ab praesentium tempora? Similique deserunt eum dolor quos sed? Consequuntur, in.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero eos dicta. Dignissimos dolorum iure fuga fugiat ullam vitae laborum beatae neque natus repudiandae a porro laudantium, quas voluptate eligendi.</p>
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis sapiente, sit excepturi nulla perferendis natus, ducimus repudiandae ea impedit ab praesentium tempora? Similique deserunt eum dolor quos sed? Consequuntur, in.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero eos dicta. Dignissimos dolorum iure fuga fugiat ullam vitae laborum beatae neque natus repudiandae a porro laudantium, quas voluptate eligendi.</p>
        <p><a href="#" class="btn btn-transparent-white btn-capsul">Button</a></p>
      </div>
    </div>
  </div>
</section>