<div class="dc-content" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="dc-row">
  
    <!-- Left Column -->
    <div class="dc-col dc-left-25">
    
      <div class="dc-white">
        <div class="dc-display-container">
          <img src="https://media.giphy.com/media/l0HlweBPexsWmJ72M/giphy.gif" class="dc-profile" alt="Avatar">
          <div class="dc-display-bottomleft dc-container dc-text-black">
            <h2 *ngIf="user">{{user[0].username}}</h2>
            <h6 *ngIf="user">{{user[0].email}}</h6>
          </div>
        </div>
        <div class="dc-container">

          <p class="dc-large"><b><i class="fa fa-asterisk fa-fw dc-margin-right dc-text-teal"></i>Skills</b></p>
          <p *ngFor="let skill of user">{{skill.name}}</p>
          <br>
          <br>

        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="dc-col dc-right-75">

      <div class="dc-container dc-white">
        <h2 class="dc-text-grey dc-padding-16"><i class="fa fa-suitcase fa-fw"></i>Projects</h2>
          <div class="dc-container" *ngFor="let project of projects">
            <img class="dc-project-image" src="../../assets/images/angularlogo.gif">
            <h5><b>{{project.name}} - {{project.role}}</b></h5>
            <h6><i class="fa fa-calendar fa-fw"></i>{{project.startdate}} - {{project.enddate}}</h6>
            <p>{{project.description}}</p>
            <hr>
          </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
</div>