<div class="headline">
  <div class="headline-left">
    <img class="headline-image" src="https://postmediawinnipegsun.files.wordpress.com/2018/04/hkn_wild_jets_20180411_63430000.jpg" alt="Title">
    <h4 class="headline-title">Super Important Title</h4>
    <p class="headline-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repellat quasi reiciendis sequi magnam libero, temporibus blanditiis id ut corporis incidunt autem ipsam eaque deserunt iure consequuntur excepturi voluptatum culpa.</p>
  </div>
  <div class="headline-right">
    <ul class="link-header">
      <li class="link-header-button active"><button>Trending</button></li>
      <li class="link-header-button"><button>New</button></li>
      <li class="link-header-button"><button>lorems</button></li>
    </ul>
    <ul class="headline-links">
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
    </ul>
  </div>
</div>