<div class="headline">
  
  <div class="headline-left">
        <img class="headline-image" src="https://postmediawinnipegsun.files.wordpress.com/2018/04/hkn_wild_jets_20180411_63430000.jpg" alt="Title">
        <h4 class="headline-title">Super Important Title</h4>
        <p class="headline-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repellat quasi reiciendis sequi magnam libero, temporibus blanditiis id ut corporis incidunt autem ipsam eaque deserunt iure consequuntur excepturi voluptatum culpa.</p>
  </div>
  
  <div class="headline-right">
    <ul class="link-header">
      <li [ngClass]="current == tab1 ? 'link-header-button active': 'link-header-button'"><button (click)="current = tab1">Trending</button></li>
      <li [ngClass]="current == tab2 ? 'link-header-button active': 'link-header-button'"><button (click)="current = tab2">New</button></li>
      <li [ngClass]="current == tab3 ? 'link-header-button active': 'link-header-button'"><button (click)="current = tab3">lorems</button></li>
    </ul>
    <ul class="headline-links">
      <li *ngFor="let number of current">
        <a href="#">{{number}}</a>
      </li>
    </ul>
  </div>
  
</div>