.headline {
    width: 1000px;
    margin: 0 auto;
    margin-top: 75px;
    height: 450px;
}

.headline-left {
    width: 65%;
    background-color: white;
    float: left;
}

.headline-right {
    width: 33%;
    background-color: white;
    float: right;
}

.headline-image {
    width: 100%;
}

.headline-title, .headline-description {
    padding: 5px;
}

.headline-description {
    color: gray;
}

.headline-links {
    list-style: none;
    padding-left: 5px;
    
}

.headline-links > li {
    padding-bottom: 8px;
}

.link-header {
    list-style: none;
    padding-left: 0px;
}

.link-header-button {
    display: inline-block;
    width: 33.33%;
}

.link-header-button > button {
    width: 100%;
    background-color: transparent;
    border: none;
}

.active {
    border-bottom: 2px solid gray;
    border-width: 80%;
}

li > a {
    color: #646464;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
li > a:before {
    background-color: #646464;
    content: '';
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 100%;
  }
li > a:hover:before {
    width: 0;
  }



  :host{
    display: block;
    width: 100%;
}

ui-carousel{
    display: block;
    margin: 0 auto;
}
.text{
    text-align:  center;
    line-height: 300px;
    font-size: 40px;
    color: #fff;
}

.button{
    user-select: none;
    height: 35px;
    width: 120px;
    line-height: 35px;
    color: gray;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}