body {
    font-family: Arial;
    padding: 20px;
  }

.dc-content {
    padding: 25px;
    width: 1600px;
    margin: 0 auto;
}

  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
    height: 400px;
    background-repeat: no-repeat;
    background-position: fixed;
    width: 100%;
  }

  .leftcolumn { 
    float: left;
    width: 70%;
  }
  
  .rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
  }
  
  .dc-project-button {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100% 65px;
    height: 65px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  }

  .dc-project-button:hover {
    transform: scale(1.05);
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 100%;
      padding: 0;
    }
  }
  
.dc-person-card {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 10px;
}

.dc-person-card:hover {
    transform: scale(1.05);
}

.dc-pfp img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 10px;
}

.dc-pf-info {
    padding-top: 8px;
}

.dc-name {
    font-size: 1.5em;
}
